html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 1px;
}

input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  font-family: sans-serif;
}

.container {
  max-width: 1352px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 17px;
}

.input {
  color: #000;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0.6em 1em;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  color: #382b22;
  border: 2px solid #6292a4;
  border-radius: 0.75em;
}

.input:hover {
  background: #bdcbd03b;
}


.input-label {
  position: absolute;
  left: 3em;
  top: -0.28em;
  background: #fff;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  z-index: 10;
}

.result-group {
  position: relative;
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.result {
  position: relative;
  color: #000;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  height: 65px;
  width: 100%;
  padding: 0.6em 1em;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  color: #382b22;
  border: 2px solid #5aab77;
  border-radius: 0.75em;
  z-index: 50;
}

.result::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #5aab77, 0 0.625em 0 0 #5aab77;
}

.result-label {
  position: absolute;
  left: 3em;
  top: -0.28em;
  background: #fff;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  z-index: 100;
}

button.btn {
font-family: "Arial", sans-serif;
font-weight: 600;
color: #382b22;
text-transform: uppercase;
padding: 1.25em 2em;
background: #97cce7;
border: 2px solid #6292a4;
border-radius: 0.75em;
transition: transform 0.15s;
transform-style: preserve-3d;
}

button.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6fb2c9;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #6292a4, 0 0.625em 0 0 #97cce7;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

button.btn:hover {
  background: #6fb2c9;
  transform: translate(0, 0.25em);
}
button.btn:hover::before {
  box-shadow: 0 0 0 2px #6292a4, 0 0.5em 0 0 #97cce7;
  transform: translate3d(0, 0.5em, -1em);
}

button.btn:active {
  background: #6fb2c9;
  transform: translate(0em, 0.75em);
}
button.btn:active::before {
  box-shadow: 0 0 0 2px #6292a4, 0 0 #97cce7;
  transform: translate3d(0, 0, -1em);
}

button.btn.btnTA {
  background: #ddb3b3;
  border: 2px solid #a46262;
}

button.btn.btnTA::before {
  background: #c78888;
  box-shadow: 0 0 0 2px #a46262, 0 0.625em 0 0 #e79797;
}

button.btn.btnTA:hover {
  background: #e38484;
}

.copy__btns {
  display: flex;
  gap: 30px;
}

.hidden {
  display: none;
}

.dash__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 1em;
  border: 2px solid #00000070;
}

.scanner-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input-file-icon {
  cursor: pointer;
  display: block;
  padding: 20px;
  border: 2px solid #6292a4;
  border-radius: 10px;
  background: whitesmoke;
}

.input-file-icon:hover {
  background: #e8e8e8;
}

.scanner-group input {
  margin-right: 50px;
  height: 40px;
  color: cadetblue;
}

.logo-img {
  height: 40px;
}
